.posts {
    list-style-type: none;
    margin: 0;
}

.heading {
    h2 {
        color: #275c07;
        font-size: 3rem;
    }
    
    h3 {
        color: rgb(250, 202, 10);
        
        span {
            color: #275c07;
            font-style: italic;
        }
    }
}

.post {
    margin: 1rem 0;

    a {
        background: hsla(98, 87%, 22%, 0.447);
        max-width: 40%;
        color: #000000;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    a:hover {
        background: hsla(97, 86%, 19%, 0.6);
    }

    h2 {
        margin-bottom: 0;

    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}