.contactContainer {
    // width: 70%;
    padding: 1rem;
    
}

.formBody {
    width: 60%;
   background-color: hsla(98, 87%, 22%, 0.447);
margin: 1rem auto;
padding: 1rem;

@media only screen and (max-width: 600px) {
    width: 100%;
    // margin: 0;
     }
}



input:focus,
textarea:focus {
  outline: 3px solid #275c07;
}

input,
textarea,
select,
button {
  width: 100%;
  justify-content: center;
  
}

.btn {
  text-align: center;
}

